@{
    ViewData["Title"] = "Home Page";
}

<div id="ballotbox"></div>

@{
    <script>
        var app = {
            isLoggedIn: @Json.Serialize(ViewData["IsLoggedIn"]),
        };
    </script>
    <script src="~/js/app.js"></script>
}