@{
    ViewData["Title"] = "Home Page";
}

<div id="ballotbox"></div>

@{
    <script>
        localStorage.setItem('isAuthenticated', @Json.Serialize(ViewData["IsLoggedIn"]));
    </script>
    <script src="~/js/app.js"></script>
}